:root{
    --gpa__primary_color:#0bdacf;
    --gpa__secondary_color: #5bc787;
    --gpa__App_bg_dark: #424242;
    --gpa__App_bg_sections_light: #fafafa;
    --gpa__App_bg_sections_dark: #333;
    --gpa__AppBar_bg_dark: #1c1d1f;
    --gpa__Text_color_light: #000000de;
    --gpa__Text_color_dark:#ffffff; 
    --gpa__bg_color_hover_dark: #616060dc;
    --gpa__footer_bg_dark: #1c1d1f;
    --gpa__button_bg_dark:#777777;
    --gpa__animation_dark_color: #0bdad07e;
    --gpa__highlighted_section_bg_light: #eaeaea;
    --gpa__highlighted_section_bg_dark: #2a2f3ad3;
    --gpa__dashboard_menu_bg_light: #eaeaea;
    --gpa__box_shadow:0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);


    
    
    /***DARK MODE COLORS***/
    --bg-content-sidedraw: #212322;
    --mode-switch-color:#777777;
    --icon-colo:#cccccc;
    --link-color:#849ba8;
    --social-icon-bg:#4b4b4b;
    --error-modal:#252525;
    --text-secondary-color:#838383;
    --drk-card-hover:#3c4043;
    --gpa__dark_black: #0D0F12;



}
*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: sans-serif;
}


.header {
    align-items: center;
    justify-content: center;
    background-color: var(--gpa__primary_color);
    display: flex;
    line-height: 1.4;
    padding:30px 15px 30px 15px;
}

.header p{
    padding: 0 15px 0 15px;
}

.gpa-about-us{
    background-color: var(--gpa__App_bg_sections_light);
}
.gpa-bg-wrapper{
    padding: 20px;
    display: flex;
    width: 100%;
}

.gpa-bg-wrapper .gpa-bg-text{
    width: 70%;
    padding: 0 20px 0 40px;
}

.gpa-bg-wrapper .gpa-bg-text h1{
    padding: 0 0 18px 0;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 500;
    font-family: sans-serif;
    color: var(--text-secondary-color);
}

.gpa-bg-wrapper .gpa-bg-text p{
    padding: 5px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
    font-family: 'Times New Roman', Times, serif;
    
}

.gpa-info-wrapper{
    display: flex;
    padding: 25px;
    width: 100%;
    justify-content: center;
   
   
}
.gpa-info-wrapper .gpa-info-sec1, .gpa-info-sec2, .gpa-info-sec3{
padding: 8px;
background-color: #ffff  ;
box-shadow: var(--gpa__box_shadow);
margin-right: 12px;
}

.gpa-info-wrapper .gpa-info-sec1 h2, .gpa-info-sec2 h2, .gpa-info-sec3 h2{
    text-align: center;
    text-transform:capitalize;
    padding: 5px 0 5px 0;
    color: var(--text-secondary-color);
}

.member-container{
    width: 95%;
}
.member-container h1{
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
    text-transform: capitalize;
}
.member-wrapper{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}
.member-wrapper .member{
    background-color: #ffff  ;
    box-shadow: var(--gpa__box_shadow);
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    border-radius: 0 0 15px 15px;
    color: var(--gpa__Text_color_light);
    position: relative;
}

.member-wrapper .member .member-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background:#ffffff;

}
.member-wrapper .member .member-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 6px;
}

.member-wrapper .member h3{
    color: var(--gpa__Text_color_light);
    font-size: 26px;
    margin: 50px 0 0 0;
    text-transform: capitalize;
}

.member-wrapper .member h4{
    color: var(--text-secondary-color);
    font-size: 12px;
    text-transform: uppercase;
    margin: 12px 0;

}


